body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.formContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightslategray;
}

.formContainer input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
}

.formContainer button {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editLink {
    font-size: 20px;
    color: rgb(5, 5, 27);
    transition: all ease .4s;
    text-decoration: none;
}

.editLink:hover {
    background-color: rgb(69, 128, 183);
}